
gplot-*.tar.gz

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/gplot
src/gplot.o
src/main.o
stamp-h1
